//MOBIL STYLES
@media screen and (max-width: 1023px) {
  .Menu {
    display: block;
    position: relative;
    width: 100%;
    flex-direction: column;
    margin: auto;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    > li {
      border-top: 1px solid #ccc;
      padding: 15px 0px;
      &:first-child {
        border-top: none;
      }
    }
    li {
      display: block;
      width: 100%;
      position: relative;
      a {
        display: block;
        position: relative;
        width: 100%;
        font-size: 38px;
        line-height: 1;
        font-family: inherit;
        font-weight: 600;
        padding-right: 50px;
        transition: 0.3s;
        color: var(--blue-color);
      }
      /*LEVEL 2*/
      ul {
        display: block;
        position: relative;
        width: 100%;
        height: 0px;
        padding-left: 20px;
        transition: 0.6s;
        overflow: hidden;
        li {
          padding: 5px 0px;
          &:first-child {
            padding: 14px 0px 5px 0px;
          }
          &:last-child {
            padding: 5px 0px 14px 0px;
          }
          a {
            font-size: 18px;
            font-weight: 400;
            &:before {
              content: '';
              display: block;
              position: absolute;
              left: -18px;
              top: 7px;
              width: 7px;
              height: 7px;
              border-radius: 6px;
              background: var(--blue-color);
            }
          }
          .More {
            width: 38px;
            height: 18px;
          }
        }
      }
    }
  }

  .More {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 38px;
    height: 38px;
    position: absolute;
    color: inherit;
    z-index: 2;
    right: 0px;
    transition: 0.6s;
    transform: rotate(0deg);
    user-select: none;
    color: var(--blue-color);
    cursor: pointer;
    svg {
      width: 40%;
      pointer-events: none;
    }
  }

  li {
    &.Open {
      > .More {
        transform: rotate(180deg);
        color: var(--yellow-color);
      }
      > a {
        color: var(--yellow-color);
      }
    }
  }
}

//DESCTOP STYLES
@media screen and (min-width: 1024px) {
  .Menu {
    display: inline-flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    justify-content: flex-end;
    gap: 34px;
    > li {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-wrap: nowrap;
      position: relative;
      > a {
        display: inline-flex;
        flex-wrap: wrap;
        align-content: center;
        height: 100%;
        transition: 0.1s;
      }
      &:hover,
      &:focus {
        > .More {
          transform: rotate(180deg);
          color: var(--color);
        }
        > a {
          color: var(--color);
        }
        > ul {
          transform: translate(0px, 0px);
          visibility: visible;
          opacity: 1;
          pointer-events: all;
        }
      }
      a {
        display: block;
        position: relative;
        font-size: 16px;
        line-height: 1;
        font-weight: 600;
        color: var(--text-color);
      }
      /*LEVEL 2*/
      ul {
        display: block;
        height: auto !important;
        position: absolute;
        left: -20px;
        top: 100%;
        margin-top: 15px;
        background: var(--white);
        color: var(--text-color);
        border-radius: 0px;
        width: auto;
        transition: 0.3s;
        transform: translate(0px, 10px);
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        padding: 10px 0px;
        border: 1px solid #d4d4d4;
        &:after {
          content: '';
          width: 14px;
          height: 14px;
          background: inherit;
          position: absolute;
          top: -8px;
          left: 20px;
          transform: rotate(45deg);
          border-left: 1px solid #d4d4d4;
          border-top: 1px solid #d4d4d4;
        }
        &:before {
          content: '';
          height: 20px;
          width: 100%;
          position: absolute;
          left: 0px;
          top: -18px;
        }
        li {
          position: relative;
          a {
            display: block;
            white-space: nowrap;
            font-size: 14px;
            font-weight: 600;
            text-transform: capitalize;
            color: inherit;
            padding: 8px 30px 8px 20px;
          }
          .More {
            position: absolute;
            z-index: 2;
            right: 10px;
            top: 50%;
            margin-top: -6px;
            transform: rotate(-90deg) translate(0px, 0px);
          }
          &:hover,
          &:focus {
            > a {
              color: var(--color);
            }
            > .More {
              opacity: 0;
              transform: rotate(-90deg) translate(0px, 10px);
            }
          }
          //LEVEL 3.......9999
          ul {
            left: 100%;
            top: 0%;
            transform: translate(10px, -1px);
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
            margin: 0;
            top: -10px;
            &:after {
              top: 16px;
              left: -8px;
              transform: rotate(-45deg);
            }
          }
          &:hover,
          &:focus {
            > ul {
              pointer-events: all;
              transform: translate(0px, -1px);
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .More {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 8px;
    height: 8px;
    position: relative;
    top: 1px;
    color: inherit;
    z-index: 5;
    transition: 0.3s;
    transform: rotate(0deg);
    order: 2;
    pointer-events: none;
    margin-left: 6px;
    opacity: 1;
    cursor: pointer;
    svg {
      width: 100%;
    }
  }
}
