.Skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  gap: 20px 0px;
}

.skillsTitle {
  width: 33.333333%;
  position: sticky;
  top: 100px;
  h2 {
    text-transform: uppercase;
  }
}

.SkillsList {
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  border-left: 1px dashed #e5e5e5;
  border-top: 1px dashed #e5e5e5;
  li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: #fff;
    position: relative;
    border-right: 1px dashed #e5e5e5;
    border-bottom: 1px dashed #e5e5e5;
    &:nth-child(5n) {
      border-right: none;
    }
    &:before {
      content: '';
      display: block;
      width: 100%;
      padding-top: 100%;
    }
    svg {
      display: block;
      position: absolute;
      max-width: 100%;
      max-height: 100%;
    }
  }
}
