.LandingEffect {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 60%;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  perspective: 1500px;
  transform-style: preserve-3d;
  color: var(--color);
}
.SvgList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 66.666666%;
  max-width: 400px;
  position: relative;
  // animation: landing_page 8s infinite cubic-bezier(0.82, 0.3, 0.16, 0.7);
  perspective: 1500px;
  transition: 2s cubic-bezier(0, 0.37, 0.14, 1);
  transform-style: preserve-3d;
  &:before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 150%;
  }
  svg {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
  }
}

.SvgList_item {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  perspective: 1500px;
  transition: 2s cubic-bezier(0, 0.37, 0.14, 1);
}

// .Svg_2 {
//   animation: svg_animation1 8s infinite cubic-bezier(0.82, 0.3, 0.16, 0.7);
// }
// .Svg_3 {
//   animation: svg_animation2 8s infinite cubic-bezier(0.82, 0.3, 0.16, 0.7);
// }

@keyframes landing_page {
  0%,
  10% {
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg) scale(0.9);
  }
  25%,
  75% {
    transform: rotateX(41deg) rotateY(-33deg) rotateZ(28deg) scale(1);
  }
  90%,
  100% {
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg) scale(0.9);
  }
}

@keyframes svg_animation1 {
  0%,
  25% {
    transform: translateZ(0px) scale(1);
  }
  30%,
  70% {
    transform: translateZ(80px) scale(0.89);
  }
  75%,
  100% {
    transform: translateZ(0px) scale(1);
  }
}

@keyframes svg_animation2 {
  0%,
  25% {
    transform: translateZ(0px) scale(1);
  }
  30% {
    transform: translateZ(80px) scale(0.89);
  }
  35%,
  65% {
    transform: translateZ(160px) scale(0.79);
  }
  70% {
    transform: translateZ(80px) scale(0.89);
  }
  75%,
  100% {
    transform: translateZ(0px) scale(1);
  }
}
