.TitleBox {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  p {
    opacity: 0.5;
  }
  b {
    font-size: 16px;
  }
}
