.Text {
  display: block;
  width: 100%;
  line-height: 1.5;
  font-size: 16px;
  white-space: pre-line;
  a {
    border-bottom: 1px solid #fff;
    transition: 0.3s;
    &:global(.dark) {
      border-bottom: 1px solid var(--text-color);
    }
    &:hover {
      color: var(--color);
      border-bottom: 1px solid var(--color);
    }
  }
}

.Small {
  font-size: 12px;
}

.Big {
  font-size: 18px;
}
