.Header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 10px 0px;
  color: var(--text-color);
  background: var(--white);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 10;
  &.fix {
    color: var(--text-color);
  }
}

.Container {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.LeftPart {
  display: inline-flex;
  align-items: center;
  align-content: center;
  gap: 40px;
}
