.Title {
  font-weight: 900;
  display: block;
  width: 100%;
  line-height: 1.1;
  white-space: pre-line;
  text-align: inherit;
}

.TitleH1 {
  font-size: 80px;
  text-transform: uppercase;
}
.TitleH2 {
  font-size: 60px;
  line-height: 1;
}
.TitleH3 {
  font-size: 50px;
}
.TitleH4 {
  font-size: 36px;
}
.TitleH5 {
  font-size: 26px;
}
.TitleH6 {
  font-size: 20px;
}
