.Title {
  display: block;
  position: relative;
  width: 100%;
  white-space: pre-line;
  text-align: inherit;
  font-weight: 800;
  color: inherit;
}

.TitleH1 {
  font-size: 62px;
  line-height: 1;
  letter-spacing: -2px;
  left: -2px;
  @media (max-width: 767px) {
    left: 0px;
    font-size: 60px;
    letter-spacing: -1px;
  }
  @media (max-width: 359px) {
    font-size: 54px;
  }
}
.TitleH2 {
  font-size: 60px;
  line-height: 1;
}
.TitleH3 {
  font-size: 50px;
}
.TitleH4 {
  font-size: 36px;
}
.TitleH5 {
  font-size: 26px;
}
.TitleH6 {
  font-size: 20px;
}
